
#top {
    /*
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    */
    background-color: #ffffff; 
    margin: 0 auto; 
    color: #FFFFFF; 
    width: 972px;
}
#center {
    background-color: #ffffff; 
    margin: 0 auto;
    width: 972px;
    height: 600px;
}

#bottom {
    /*position: center;
    background-color: #a91155;
    color: white;
    padding: 5px;
    margin: 100px 0px 0px 0px;*/
    background-color: #424242; 
    margin: 0 auto; 
    color: #FFFFFF; 
    width: 972px;
    font-size: 95%; 
    text-align: center;
}

#left {
    float: left;
    background-color: #ffffff;
    padding: 5px;
    width: 230px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 5px;
}

.left_content {
    background-color: #ffffff;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 235px 0px 235px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


